<div id="<%= follower.id %>" onclick="openMessageBox(id, '<%= follower.name %>', '<%= follower.username %>', '<%= follower.profile_img_url %>')" class="follower flex items-center justify-between">
    <div class="flex flex-shrink-0 p-4 my-3">
        <div class="flex-shrink-0 group block">
            <div class="flex items-center">
                <div>
                    <img class="inline-block h-10 w-10 rounded-full"
                        src="https://pbs.twimg.com/profile_images/1121328878142853120/e-rpjoJi_bigger.png" alt="" />
                </div>
                <div class="ml-3">
                    <p class="text-base leading-6 font-medium text-black">
                        <%= follower.name %>
                            <span
                                class="text-sm leading-5 font-medium text-gray-400 group-hover:text-gray-300 transition ease-in-out duration-150">
                                @<%= follower.username %> . 16 April
                            </span>
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="p-4">
        <div class="h-5 w-5 text-xs text-white flex justify-center items-center" style="background-color: rgb(14 165 233); border: 1px solid white; border-radius: 50px; display: none;">
            <span class="unreadMessageCount">0</span>
        </div>
    </div>
</div>